<body>
    <div id="hiddenDiv" style="display: none">
        <div id="replayLinkDiv" style="display: none"> {{replayLink}}</div>
        <div id="playerOneDiv" style="display: none"> {{playerOne}}</div>
        <div id="winCountDiv" style="display: none"> {{winCount}}</div>
        <div id="playerTwoDiv" style="display: none"> {{playerTwo}}</div>
        <div id="winnerDiv" style="display: none"> {{winner}}</div>
    </div>

    <div id="container">
        <div id="replayDetails">
        <h1>
            <span class="p1">{{playerOne}}</span>  v. <span class="p2">{{playerTwo}} </span>
        </h1>
        <h2>
            <span class="p1"> {{ winCount }} </span>: <span class="p2">{{ lossCount }}</spanclass="p1">
        </h2>
        </div>
    <div id="replay">
        {{{board}}}
    </div>
        </div>

</body>
<style>
@font-face {
    font-family: 'Atari Classic Chunky';
    src: url(./assets/atari_class_chunky.ttf);
}

@font-face {
    font-family: 'Andale Mono';
    src: url(./assets/andale_mono.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: 'Andale Mono';
    text-align: center;
}


header {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #E06800;
    font-family: 'VT323','Atari Classic Chunky';
    font-size: 64px;
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
}

h4 {
    text-align: center;
}

li {
    list-style: none;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    margin-bottom: 18px;
}

a {
    color: #9C9CB2;
}

a:hover {
    color: white;
    text-decoration: none;
}

.p1 {
    color: #BAD650;
    color:rgb(32, 206, 230);
    font-weight: bold;
}

.p2 {
    color: #FFB938;        
    color: #ff5722;
    font-weight: bold;
}

.vs {
    font-size: 24px;
}

.score {
    font-size: 36px;
}

.vs .p1, .vs .p2, .score .p1, .score .p2 {
    font-family: 'Atari Classic Chunky';
}

.board {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: calc(17 * 20px);
}

.board > span {
    /* display: inline-block; */
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
}

.board > span > p {
    /* position: absolute;
    top: 0;
    left: 0; */
    line-height: 20px;
    font-weight: 700;
    color: black;
}

.game + p {
    margin-top: 5px;
}

.game-wrapper {
    margin-bottom: 30px;
    position: relative;
}

.game-wrapper .restart {
    position: absolute;
    top: calc(17 * 20px - 30px);
    left: calc(50% + 9 * 20px);
    width: 30px;
    height: 30px;
    border: none;
    background-color:#b3b3c9;
}

.game-wrapper .restart:hover {
    background-color: white;
}

.wall {
    background-color: #b3b3c9;
}

.barrier {
    background-color: #6b6b7c;
}

.player1 {
    background-color: #BAD650;
}

.player2 {
    background-color: #FFB938;
}

.trap {
    background-color: #b57cd2;
}
/* 
.armor {
    background-color: purple;
}

.speed {
    background-color: green;
}

.bomb {
    background-color: red;
} */

#loading {
    width: 40vw;
    height: auto;
    margin-bottom: 2000px;
}

#container {
    text-align: center;

}

#replayDetails {
    width: 75%;
    border-bottom: 1.5px solid rgb(32, 206, 230);
    border-bottom: 1.5px dashed white;
    margin: 0 auto 3% auto;



}

{{!-- body{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/144dd349848789.58c0373d1982f.jpg');
    background-size: 100%;
    color: rgb(19, 9, 9);
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    border: 3px dashed rgb(32, 206, 230);
    text-align: center;
}
p{
    font-size: 5vw;
} --}}
</style>

<script src="/js/series.js"></script>