<title>Student Profile</title>

<div id="container">
<div id="botNum">
    <a id="back-btn" class="btn btn-outline-light" href="/leaderboard" role="button">←　Back to Leaderboard</a>

{{!-- <h1 class="center"> {{botName}} </h1> --}}
</div>
<div id="playerIdDiv" style="display: none"> {{playerId}}</div>
<div id="profileStats">
    <div id="profileLeft" class="m-4">
        {{!-- <img src="homelogo.png" alt="Bot Team Icon" class="img"> --}}
        <h2 id="botName" class="center" style="color:#39F3FF"> {{botName}} </h2>
        <p>Player id: {{playerId}}</p>
        <p>ELO: {{elo}}</p>
        <p>Score: {{score}}</p>
        <p>Total Matches: '{{totalMatches}}'</p>
    </div>
    <div id="profileRight">
        <div id="playerInfo" class="m-4">
        {{!-- <p>Player id: {{playerId}}</p> --}}
        <div class="statDetails">
            <p style="text-decoration: underline;">Partner 1: </p>
            <p>{{partner1}}</p>
        </div>
        <div class="statDetails">
            <p style="text-decoration: underline;">Partner 2: </p>
            <p>{{partner2}}</p>
        </div>
        {{!-- <div class="statDetails" id="partner3div" style="visibility: collapse;">
            <p style="text-decoration: underline;">Partner 3: </p>
            <p>{{partner3}}</p>
        </div> --}}
        {{!-- <div class="statDetails" >
            <p style="text-decoration: underline;">ELO: </p>
            <p>{{elo}}</p>
        </div>
        <div class="statDetails">
            <p style="text-decoration: underline;">Score: </p>
            <p>{{score}}</p>
        </div> --}}
        {{!-- <p>Partner 1: {{partner1}}</p>
        <p>Partner 2: {{partner2}}</p>
        <p>Partner 3: {{partner3}}</p>
        <p>ELO: {{elo}}</p>
        <p>Score: {{score}}</p> --}}
        </div>
        <div id="matchHistories" class="m-4">
            <p>MATCH HISTORY:</p>
            <ul id="matchHistory"></ul>
        </div>
    </div>
</div>
</div>
<style>
    body{
        color: #dfd9d7;
        box-sizing: border-box;
        font-family: 'VT323', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        /*background-image: url('https://4.bp.blogspot.com/-BweIufIseaQ/T77OxbauWeI/AAAAAAABIlA/iqqcL7P0DgA/s1600/TRON_UPRISING_MIELGO.jpg');*/
    }
    h1{
        font-size: 8vw;
        font-weight: bolder;
    }

    h2 {
        font-size: 4vw;
    }
    p{
        font-size: 2.5vw;
    }

    img {
        min-width: 200px;
    }

    #container {
        display:flex;
        flex-direction: column;
    }

    #back-btn {
        color: white;
        background-color:rgba(223, 217, 215, 0.25);
        float: left;
        margin: 3%;
        vertical-align: center;
        font-size: large;
    }
    #matchHistory {
        list-style-type: none;
        text-align: center;

    }
    #matchHistory:hover{
        cursor: pointer;
        color: white;
    }
    #profileStats {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2.5%;

    }

    #botNum{
        /*width: 50%;        
        margin-top: 30px;
        margin-left: 25%;*/
        color: #ff5722;
        color: #39F3FF;

    }
    .center{
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
    }
    #profileLeft {
        flex: 1;
        border: 1px solid white;
        text-align: center;
        height: fit-content;
        font-size: 3vh;
    }

    #profileRight{
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    .statDetails {
        margin: 20px;
    }

    #playerInfo{
        /*
        width: 70%;
        margin-left: 15%;
        flex: 2;*/
        display: flex;
        flex-direction: row;
        border: 3px dashed #ff5722;
        text-align: center;
        height: auto;
        vertical-align: middle;
        background: rgba(0, 0, 0, 0.7);
        justify-content: space-around;
        

    }
    #matchHistories{
        height: auto;
       /*width: 50%;
        margin-left: 25%; */
        flex: 1;
        /*border: 3px dashed #eea4ed;*/
        border: 3px dashed #ff5722;
        text-align: left;
        background: rgba(0, 0, 0, 0.7);
        font-size: 5vh;
        height:fit-content;
        padding: 2%;

    }
    
    .img {
        width: 5vw;
    }

    .replayLink {
        color: #ff5722;
    }
    .replayLink:hover {
        color: white;
    }



</style>
<script>
    console.log(partner3);
    if (partner3 !== false) {
        document.getElementById("partner3div").style.visibility = "visible";
    }
</script>
<script src="/js/studentProfile.js"></script>