<h1 class="center"> {{botName}} </h1>
<p>Partner 1: {{partner1}}</p>
<p>Partner 2: {{partner2}}</p>
<p>Partner 3: {{partner3}}</p>
<p>ELO: {{elo}}</p>
<p>Score: {{score}}</p>

<script src="/js/studentProfile.js"></script>